.file-input {
  display: none;
}

.qr-reader-file {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.qr-reader-file-button {
    width: 4rem;
    height: 4rem;
    padding: 0 !important;
}

.qr-reader-file-icon {
    font-size: 4rem !important;
}